<h1>{{family}} Dataset Family</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Publisher</th>
      <th>Dataset</th>
      <th>Tracking</th>
    </tr>
  </thead>
  <tbody>
    {{#each pipelines}}
    <tr>
      <td>{{number}}</td>
      <td>{{info.publisher}}</td>
      <td><a href="?{{directory}}">{{info.title}}</a></td>
      <td>
        {{#if github}}
        <a href="{{github}}"><i style="color: black;" class="fab fa-github-alt"></i></a>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
